%table.table-condensed
  %tbody
    %tr
      %td PTO Total
      %td#total 
        = @total
    %tr
      %td PTO Used
      %td#used  
        = @used
    %tr
      %td PTO Left
      %td#left  
        = @left
= link_to 'Back', homes_path
